#keyboard {
    width: 905px;
    padding: 5px;
    border: 1px solid slategrey;
    border-radius: 4px;

    position: relative;
}

.kb-line::after {
    content: '';
    display: block;
    clear: both;
}

.kb-key {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid slategrey;
    border-radius: 4px;
    margin: 3px;
    padding: 4px;
    text-align: center;
    line-height: 32px; /* height - 2*padding = 40 - 2*4 = 32 */
    white-space: nowrap;
}
.kb-key-backspace {
    width: 104px;
}
.kb-key-tab {
    width: 70px;
}
.kb-key-pipe {
    width: 74px;
}
.kb-key-capslock {
    width: 90px;
}
.kb-key-enter {
    width: 110px;
}
.kb-key-left-shift {
    width: 110px;
}
.kb-key-right-shift {
    width: 90px;
}
.kb-key-left-ctrl {
    width: 73px;
}
.kb-key-windows {

}
.kb-left-alt {
    width: 60px;
}
.kb-key-space {
    width: 250px;
}
.kb-key-right-alt {

}
.kb-key-right-ctrl {
    width: 65px;
}
.kb-key-menu {

}