#keyboard {
    width: 824px;
    padding: 5px;
    border: 1px solid slategrey;
    border-radius: 4px;

    position: relative;
}

.kb-line::after {
    content: '';
    display: block;
    clear: both;
}

.kb-key {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid slategrey;
    border-radius: 4px;
    margin: 3px;
    padding: 4px;
    text-align: center;
    line-height: 32px; /* height - 2*padding = 40 - 2*4 = 32 */
}
.kb-key-backspace {
    width: 80px;
}
.kb-key-tab {
    width: 70px;
}
.kb-key-pipe {
    width: 50px;
}
.kb-key-capslock {
    width: 90px;
}
.kb-key-enter {
    width: 85px;
}
.kb-key-left-shift {
    width: 110px;
}
.kb-key-right-shift {
    width: 65px;
}